@tailwind base;
@tailwind components;
@tailwind utilities;

/* small global tweaks */
:root {
  --brand: #2563eb;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #111827;            /* text-gray-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
